@import "https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;600;800&display=swap";
nav {
  background-color: #5f0000;
}

.navbar-brand img {
  width: 8rem;
}

@media (min-width: 768px) {
  .navbar-brand img {
    width: 10rem;
  }
}

.nav-item {
  padding: 1rem;
}

@media (min-width: 992px) {
  .nav-item {
    padding: 0 1rem;
  }
}

.nav-link {
  letter-spacing: -.01em;
  color: #eaedee;
  font-family: Libre Franklin, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 20px;
  }
}

.nav-link:hover {
  color: #df7942;
}

.hero-section {
  background: -o-linear-gradient(bottom left, #61290b 0%, #df7942 100%);
  background: linear-gradient(left bottom, #61290b 0%, #df7942 100%);
  background: -webkit-linear-gradient(bottom left, #61290b 0%, #df7942 100%);
  background: -moz-linear-gradient(bottom left, #61290b 0%, #df7942 100%);
  padding: 5rem 1rem;
}

@media (min-width: 768px) {
  .hero-section {
    background: -o-linear-gradient(left, #61290b 0%, #df7942 100%);
    background: linear-gradient(left, #61290b 0%, #df7942 100%);
    background: -webkit-linear-gradient(left, #61290b 0%, #df7942 100%);
    background: -moz-linear-gradient(left, #61290b 0%, #df7942 100%);
    padding: 16rem 0;
  }
}

.hero-left-container h1 {
  letter-spacing: -.06em;
  color: #eaedee;
  max-width: 540px;
  margin-bottom: 1rem;
  font-family: Libre Franklin, sans-serif;
  font-size: 31px;
  font-weight: 800;
  line-height: 120%;
}

@media (min-width: 768px) {
  .hero-left-container h1 {
    margin-bottom: 3rem;
    font-size: 58px;
  }
}

.hero-left-container h2 {
  letter-spacing: -.03em;
  color: #cdd3d7;
  max-width: 450px;
  margin-bottom: 2.5rem;
  font-family: Libre Franklin, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
}

@media (min-width: 768px) {
  .hero-left-container h2 {
    margin-bottom: 3rem;
    font-size: 31px;
  }
}

.hero-left-container button {
  letter-spacing: -.02em;
  color: #eaedee;
  background-color: #5f0000;
  gap: .5rem;
  padding: 1.5rem 3rem;
  font-family: Libre Franklin, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  transition: background-color .8s;
}

@media (min-width: 768px) {
  .hero-left-container button {
    font-size: 25px;
  }
}

.hero-left-container button:hover {
  color: #eaedee;
  background-color: #2b0000;
}

.hero-right-container img {
  width: 350px;
  transform: rotate(10deg);
}

.about-section {
  background: -o-linear-gradient(left, #aea5a3 0%, #fefdfc 100%);
  background: linear-gradient(left, #aea5a3 0%, #fefdfc 100%);
  background: -webkit-linear-gradient(left, #aea5a3 0%, #fefdfc 100%);
  background: -moz-linear-gradient(left, #aea5a3 0%, #fefdfc 100%);
  padding: 7rem 1rem;
}

@media (min-width: 768px) {
  .about-section {
    padding: 16rem 0;
  }
}

.about-section img {
  width: 15rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .about-section img {
    width: 20rem;
    margin-bottom: 1rem;
  }
}

.about-section h1 {
  letter-spacing: -.05em;
  margin-bottom: 2rem;
  font-family: Libre Franklin, sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 120%;
}

@media (min-width: 768px) {
  .about-section h1 {
    margin-bottom: 3rem;
    font-size: 47px;
  }
}

.about-section p {
  letter-spacing: -.03em;
  max-width: 750px;
  margin: 1rem 0;
  font-family: Libre Franklin, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
}

@media (min-width: 768px) {
  .about-section p {
    margin: 2rem 0;
    font-size: 31px;
  }
}

.sustainability-section {
  background: -o-linear-gradient(left, #aea5a3 0%, #fefdfc 100%);
  background: linear-gradient(left, #aea5a3 0%, #fefdfc 100%);
  background: -webkit-linear-gradient(left, #aea5a3 0%, #fefdfc 100%);
  background: -moz-linear-gradient(left, #aea5a3 0%, #fefdfc 100%);
  padding: 7rem 1rem;
}

@media (min-width: 768px) {
  .sustainability-section {
    padding: 16rem 0;
  }
}

.sustain-left-container h1 {
  letter-spacing: -.05em;
  margin-bottom: 1rem;
  font-family: Libre Franklin, sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 120%;
}

@media (min-width: 768px) {
  .sustain-left-container h1 {
    margin-bottom: 2.5rem;
    font-size: 47px;
  }
}

.sustain-left-container p {
  letter-spacing: -.03em;
  margin: 1.5rem 1rem;
  font-family: Libre Franklin, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
}

@media (min-width: 768px) {
  .sustain-left-container p {
    margin: 2rem 0;
    font-size: 31px;
  }
}

.sustain-right-container {
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .sustain-right-container {
    margin-bottom: 0;
  }
}

.news-section {
  background: -o-linear-gradient(left, #61290b 0%, #df7942 100%);
  background: linear-gradient(left, #61290b 0%, #df7942 100%);
  background: -webkit-linear-gradient(left, #61290b 0%, #df7942 100%);
  background: -moz-linear-gradient(left, #61290b 0%, #df7942 100%);
  padding: 7rem 1rem;
}

@media (min-width: 768px) {
  .news-section {
    padding: 16rem 0;
  }
}

.top-column {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .top-column {
    margin-bottom: 4rem;
  }
}

.top-column h1 {
  letter-spacing: -.06em;
  color: #eaedee;
  font-family: Libre Franklin, sans-serif;
  font-size: 31px;
  font-weight: 800;
  line-height: 120%;
}

@media (min-width: 768px) {
  .top-column h1 {
    font-size: 58px;
  }
}

.bottom-column {
  gap: 2rem;
}

.card {
  background-color: #7c2e2e;
  border: none;
}

.card-body {
  background-color: #7c2e2e;
  padding: 2.5rem 1rem;
}

.card-title {
  letter-spacing: -.01em;
  color: #eaedee;
  margin-bottom: .5rem;
  font-family: Libre Franklin, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}

@media (min-width: 768px) {
  .card-title {
    font-size: 20px;
  }
}

.card-text {
  letter-spacing: .01em;
  color: #cdd3d7;
  max-width: 320px;
  margin-bottom: 2rem;
  font-family: Libre Franklin, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.card-body .btn {
  letter-spacing: .01em;
  color: #eaedee;
  background-color: #2b0000;
  padding: 1rem 1.5rem;
  font-family: Libre Franklin, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  transition: background-color .8s;
}

.card-body .btn:hover {
  background-color: #b84d15;
}

footer {
  background-color: #5f0000;
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  footer {
    padding: 2rem 0;
  }
}

.top-left-column {
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .top-left-column {
    margin-bottom: 0;
  }
}

.top-left-column a {
  letter-spacing: .01em;
  color: #eaedee;
  font-family: Libre Franklin, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  transition: color .8s;
}

.top-right-column a {
  color: #eaedee;
  transition: color .8s;
}

.top-right-column a:hover {
  color: #d85b19;
}

.top-right-column .bi {
  font-size: 1.5rem;
}

.top-left-column a:hover {
  color: #d85b19;
}

.top-right-column {
  gap: 1rem;
}

footer .bottom-column p {
  letter-spacing: .02em;
  color: #eaedee;
  font-family: Libre Franklin, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}

@media (min-width: 768px) {
  footer .bottom-column p {
    font-size: 13px;
  }
}

/*# sourceMappingURL=index.9566755f.css.map */
